html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FAFAF8;
  font-family: Inter;
}

.header-content{
  background-color: white;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.header-img{
  width: 43px;
  height: 52px;
  margin-right: 11px;
}

.header-text{
  font-family: Inter;
  font-weight: 400;
  font-size: 32px;
}

.main-content{
  margin-top: 67px;
  margin-left: 20px;
  margin-right: 20px;
}

.main-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}

.main-form > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding-left: 13px;
  padding-right: 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
  height: 100%;
}

.main-form > button{
  background-color: #141413;
  border-radius: 6px;
  color: #FAFAF8;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  margin-left: 12px;
  border: none;
  height: 100%;
  width: 150px;
  /* padding: 10px 20px; */
}

.main-form > button::before {
  content: "+";
  margin-right: 5px;
}

.main-content > section > h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 24px;
}

.main-content > section > ul > li{
  color: #475467;
  line-height: 28px;
}

.get-recipe {
  display: flex;
  background-color: #F0EFEB;
  border-radius: 8px;
  padding: 28px 42px;
  align-items: center;
  justify-content: space-between;
}

.get-recipe > div > h3{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}

.get-recipe > div > p{
  color: #6B7280;
  font-size: 14px;
}

.get-recipe > button {
  background-color: #D17557;
  border-radius: 6px;
  color: #FAFAF8;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  border: none;
  padding: 9px 17px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}